<!DOCTYPE html>
<html>
<head>
	<title>Machine Translation</title>
</head>
<body>
	<h2>English to French Translation</h2>
	<form method="POST" action="{{ url_for('english_to_french_route') }}">
		<label for="english_text">Enter English text:</label><br>
		<input type="text" id="english_text" name="english_text"><br><br>
		<input type="submit" value="Translate">
	</form>

	<h2>French to English Translation</h2>
	<form method="POST" action="{{ url_for('french_to_english_route') }}">
		<label for="french_text">Enter French text:</label><br>
		<input type="text" id="french_text" name="french_text"><br><br>
		<input type="submit" value="Translate">
	</form>
</body>
</html>
